@font-face {
    font-family: Microma;
    src: url(../src/font/Michroma/Michroma-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../src/font/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    /* variaveis de cores */
    --azul-texto: #0058FA;
    --verde-binario: #008000
}


* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-image: url(../src/img/fundo.svg);
    background-position: 50% 50%;
    background-attachment: fixed;
}
.calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.insidecalc {
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 5%;
    text-align: center;
    padding: 5%;
}

.titulo {
    color: var(--verde-binario);
    font-family: Microma;
    font-size: 25px;
    padding-bottom: 20px;
}

.input h3 {
    color: black;
    font-family: Inter;
    padding-top: 5%;
}

.input h4{
    color: black;
    font-family: Inter;
}

.input input {
    text-align: center;
    font-family: Inter;
    font-weight: normal;
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
}

.selecao option {
    font-family: inherit;
}
.selecao h3{
    font-family: Inter;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}
.botao{
    padding-top: 30px;
}
button {
    background-color: var(--verde-binario);
    margin: 5%;
    font-family: Microma;
    font-size: medium;
    color: white;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.resultado {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Inter;
    color: black;
    font-size: 30px;
}
footer{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem{
    object-fit: contain;
    width: 300px;
    height: auto;
    padding-top: 15px;
}
.textos{
    font-family: Inter;
    text-align: center;
}
.titulorodape{
    font-size: x-large;
    font-weight: bolder; 
    padding-bottom: 10px;
    padding-top: 15px;
}
.nometitulo{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nome{
    font-size: 15px;
}
.tituloemail{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 15px; 
    padding-bottom: 10px;
}
.tituloemail{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 15px; 
    padding-bottom: 10px;
}
.tituloemail{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 15px; 
    padding-bottom: 10px;
}
.email{
    font-size: 15px;
}